# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales y logs
*.log
*.tmp

# Ignorar archivos del entorno de desarrollo
.vscode/
.idea/

# Ignorar archivos de Python cache
__pycache__/
*.py[cod]

# Ignorar archivos ZIP (si quieres evitar subirlos)
*.zip
